<h1> Teams</h1>
<div class="team">
<h3>Team<%= @team.name %> </h3>
<h3>Team Motto:<%= @team.motto %> </h3>
</div><br>
<br>
<h1> Members </h1>
<div class="super_hero">
<% @superheroes.each do |super_hero| %>

</div>
